body {
	text-align: center;
	font-family: Fira Sans, sans-serif;
	font-weight: lighter;
	font-size: 18px;
	width: 100%;
	margin: 0 auto;
}

@media (prefers-color-scheme: dark) {

	body {
		background-color: #222;
		color: #e4e4e4;
	}

	a {
		color: #69d663;
	}

	section.mission-statement {
		border-color: #444;
	}

	img {
		filter: invert(1);
	}
}

img.header {
	width: 10em;
	padding: 2em 0 1em 0;
}

main {
	max-width: 40em;
	margin: 0 auto;
}

h1 {
	margin-bottom: 0;
}

p {
	margin-top: 0;
	line-height: 1.3em;
}

p.subtitle {
	text-align: center;
}

main p {
	text-align: left;
}

section.mission-statement {
	border: 1px solid #aaa;
	padding: 0.7em;
	margin: 0 0.7em 1em 0.7em;
	border-radius: 0.3em;
}

section.mission-statement :last-child {
	margin-bottom: 0;
}

em {
	font-weight: normal;
}

dt {
	font-weight: bold;
	display: inline-block;
}

dd {
	display: inline;
	margin-left: 0;
}

dd:before {
	content: '– ';
}

dd:not(:last-of-type):after {
  display: inline;
  content: ' | ';
  padding: 0em 1em;
}

footer {
	font-size: 2em;
	margin-top: 1em;
}

footer a {
	margin: 0 0.2em;
}